/** Add css rules here for your application. */

html, body {
	height: 100%;
	width: 100%;
	padding: 20px;
	align: center;
}

.bookPanel {
	padding: 10px;
	width: 400px;
	margin: 5px;
	background-color: #F0F0FF;
}

.bookPanel .gwt-Image {
	width: 20px;
}

.bookPanel .gwt-Label {
	float: left;
	width: 360px;
}

.mainPanel {
	align: center;
	width: 100%;
}

.inputPanel {
	background-color: #F0F0F0;
	width: 420px;
	padding: 10px;
	margin: 5px;
}

.inputPanel .gwt-SuggestBox {
	width: 350px;
}

.inputPanel .gwt-Image {
	float: right;	
}
