/** Add css rules here for your application. */

html {
	margin: 10px;
	background-color: black;
}

body {
	background-color: black !important;
	background-image:url('icons/pile.png') !important;
	background-repeat:no-repeat !important;
	background-position:bottom left !important;
}


.mainPanel h1 {
	padding-left: 300px;
	font-size: xx-large;
	height: 50px;
	color: white;
}

.stackPanel {
	width: 100%;
}

.bookPanel {
	border: solid gray 5px;
	background-color: #F0F0FF;
}

.upButton, .removeButton {
	width: 20px;
	cursor: pointer;
	border: solid #F0F0FF 1px;
}

.upButton:hover, .removeButton:hover {
	border-color: silver;
}

.bookTitle {
	font-size: large;
}

.mainPanel {
	width: 100%;
}

.inputPanel, .bookPanel {
	background-color: #F0F0F0;
	width: 100%;
	padding: 10px;
	margin: 5px;
}

.inputPanel, .bookPanel {
	background-color: #F0F0F0;
	padding: 10px;
	margin: 5px;
}

.inputPanel {
	background-color: #F0F0F0;
	width: 100%;
}

.inputPanel .gwt-Button {
	font-size: larger;
}


.inputPanel .gwt-SuggestBox {
	width: 100%;
	font-size: larger;
}

.gwt-SuggestBoxPopup .item {
	font-size: larger;
}